.chat {
    width: 80%;
    height: 80%;
    align-self: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #ffc0cb;

    > .container {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: #c0ddff;
    }

    .signout-btn {
        position: fixed;
        top: 0;
        right: 0;
        margin: 10px;
    }

    ul {
        display: flex;
        // align-items: flex-end;
        padding: 10px;
        box-sizing: border-box;
        background: #ffe6b6;
        > .container {
            width: 100%;
            overflow-y: auto;
            background: #ddffdd;

            li {
                width: 80%;
                outline: 1px solid lightgrey;
                padding: 10px;
                box-sizing: border-box;
                background: #ffffde;
            }
        }
    }

    form {
        padding: 10px;
        box-sizing: border-box;
        background: rgb(224, 255, 224);
        .avatar {
            width: 30px;
            height: 30px;
            margin: 0 10px 0 0;
            border-radius: 50%;
        }
        .input {
            width: 100%;
        }
        .submit-btn {
            margin: 10px 0;
        }
    }
}